@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
    border: 2px;

}

a {
    text-decoration: none;
}

body {
    font-family: "Work Sans", sans-serif;

}

.container {
    max-width: 390px;
    margin: 0 auto;
}

.header-container {
    margin-bottom: 40px;

}

.header-title {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;

}

.header-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-bottom: 20px;
}


.splide__list{
    display: flex;
    align-items: center;
    gap: 20px;
}

.splide__slide{
    /* padding: 20px; */

    padding-top: 100px;
    padding-bottom: 200px;
    border: 1px solid transparent;
    border-radius: 24px;
    background-color:  #A8A8A8;
    
}


.player {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* width: 300px; */
  }
  .song-info {
    text-align: center;
  }
  .song-title {
    font-size: 24px;
    margin: 0;
  }
  .artist-name {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
  }
  .progress-bar {
    background-color: #ddd;
    border-radius: 5px;
    height: 5px;
    margin: 20px 0;
  }
  .progress {
    background-color: #2196F3;
    border-radius: 5px;
    height: 5px;
    width: 34%; /* Adjust based on song progress */
  }
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .control-icon {
    margin: 0 10px;
    width: 30px;
  }