body{
    color: #fff;
    background-color: #000;
}
.mobile-151-box2{
    margin-top: 4vh;
    display: inline-block;
}
.mobile-151-box3{
    display: flex;
    justify-content: space-between;
}
.mobile-151-box4{
    width: 95vw;
    height: 7vh;
    border-radius: 10vw;
    font-size: larger;
    color: #fff;
    margin-top: 5vh;
    background-color: #3a595d;
    border: solid #3a595d 1px;
}
.content {
    display: none;
    /* position: absolute; */
    width: 100vw;
    height: 5vh;
    top: 5vh;
}
.container {
    cursor: pointer;
    position: relative;
}
.mobile-151-box5{
    display: flex;
    justify-content: space-between;
}
.mobile-151-box6{
    border-radius: 4vw;
    padding: 2vh 4vw;
    margin-bottom: 2vh;
    color: #fff;
    background-color: #000;
    border: solid #fff 1px;
}
