* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.verfity-btn {
  width: 342px;
  height: 54px;
  margin-left: 24px;
  margin-top: 160px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 10px;
}

.account {
    margin-top: 100px;
    text-align: center;

    h3{
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    
    p{
        margin-bottom: 72px;
    }
}
