body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fr{
    display: inline-block;
    position: relative;
    left: 25px;
}

.img{
    position: relative;
    top: 5px;
    left: 235px;
}

.box1{
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid gray;
}


.bt{
    font-size: 18px;
    position: relative;
    left: 25px;
}

.bt2{
    font-size: 20px;
    top: -25px;
    position: relative;
    left: 25px;
}


.small2{
    width: 85px;
    height: 85px;
    background-color: gray;
    position: relative;
    left: 300px;
    top: -100px;
}

.small1{
    width: 325px;
    height: 85px;
    background-color: #C4C4C4;
    position: relative;
    left: 25px;
    top: 10px;
}



.p1{
    position: relative;
    top: -100px;
    left: 25px;
}

.bon1{
    width: 50px;
    height: 50px; 
    position: relative; 
    top: -15px;
    display: inline-block;
    margin-left: 25px;
    background-color: gray;
}

.bon1{
    width: 50px;
    height: 50px; 
    position: relative; 
    top: -35px;
    display: inline-block;
    margin-left: 19px;
    background-color: gray;
    border-radius: 5px;}
.bon2{
    width: 50px;
    height: 50px; 
    position: relative; 
    top: -35px;
    display: inline-block;
    margin-left: 19px;
    background-color: gray;
    border-radius: 5px;}
.bon3{
    width: 50px;
    height: 50px; 
    position: relative; 
    top: -35px;
    display: inline-block;
    margin-left: 19px;
    background-color: gray;
    border-radius: 5px;}
.bon4{
    width: 50px;
    height: 50px; 
    position: relative; 
    top: -35px;
    display: inline-block;
    margin-left: 19px;
    background-color: gray;
    border-radius: 5px;}

.bon5{
    width: 50px;
    height: 50px; 
    position: relative; 
    top: -35px;
    display: inline-block;
    margin-left: 19px;
    background-color: gray;
    border-radius: 5px;}

