.dum{
    padding-left: 110px;
    padding-top: 60px;
}
.u{
    padding-left: 110px;
    padding-top: 20px;
}
.o{
    padding-left: 15px;
    padding-top: 60px;
}
.r{
    padding-left: 15px;
    padding-top: 20px;
}
.p{
    padding-left: 15px;
    padding-top: 150px;
}