.header__paragrph{
    color: gray;
    transform: translatey(30px);
}
.header__h{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}
.header__the--beater{
    margin-left: 20px;
}
.header__left{
    display: flex;
    gap: 20px;
    font-size: 25px;
    justify-content: center;
}
.header__right{
    display: flex;
    gap: 35px;
    font-size: 20px;
    justify-content: center;
    transform: translatey(-40px);
}
.header__top{
    font-size: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.main__h{
    font-size: 30px;
    margin-top: -50px;
}
.main__left{
    background-color: #F4F4F4;
    width: 250px;
    height: 80px;
    border-radius: 20px;
}
.main__right{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.main__left--two{
    width: 60px;
    height: 15px;
    border-radius: 10px;
    transform: translatex(20px);
    background-color: black;
}
.main__toppot{
    display: flex;
    justify-content: space-around;
}
.main__right--two{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top:30px;
}
.main__toppot--two{
    color: gray;
    padding-top: 10px;
    padding-left: 10px;
}
.main__leftt{
    background-color: #F4F4F4;
    width: 250px;
    height: 60px;
    border-radius: 20px;
}
.main__rightt{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.main__img--two{
    display: flex;
    justify-content: end;
    transform: translatey(-30px);
}
.main__topp{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -50px;
}