.nav{
padding-top: 30px;
padding-left: 85%; 
}
.ota{
    background-color:green;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: start;
   padding-top: 50px;
   width: 3;
}
.footer{
    padding:4%;
    padding-top: 50%;

}