.header__the--better{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    h3{
        transform: translatey(-20px);
        font-size: 20px;
    }
    p{
        font-size: 20px;
    }
    img{
        transform: translatey(20px);
    }
}
.header__paragrp{
    font-size: 30px;
    color: #000000;
    margin-left: 30px;
}
.header__img{
    display: flex;
    justify-content: end;
}
.header__center{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    background-color: #D0D0D0;
    margin-left: 10px;
}
.header__left{
    font-family: Work Sans;
    font-size: 24px;
    padding-top:20px;
    padding-left: 30px;
}
.main__paragrp{
    font-family: Work Sans;
    font-size: 30px;
    margin-left: 20px;
    color: #000000;

}
.main__center{
    background-color: #D0D0D0;
    width: 200px;
    height: 160px;
    border-radius: 20px;
}
.main__right{
    width: 130px;
    height: 160px;
    border-radius: 10px;
    background-color: #D0D0D0;
}
.main__top{
    display: flex;
    justify-content: space-around   ;
    gap: 30px;
    margin-left: 20px;

}