@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
    border: 2px;

}

a {
    text-decoration: none;
}

body {
    font-family: "Work Sans", sans-serif;

}

.container {
    max-width: 390px;
    margin: 0 auto;
}


.header {
    margin-bottom: 40px;
}


.hero-title {
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin-bottom: 43px;

}


.splide {
    margin-bottom: 30px;
}

.splide-title {

    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-left: 26px;
    margin-bottom: 18px;

}

.splide__list {
    /* display: flex;
    align-items: center; */
    gap: 10px;
}

.splide__slide {
    padding: 90px;
    /* padding-bottom: 10px; */
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #C4C4C4;
}




.singer-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 110px;
}


.singer-title h3 {
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;

}

.singer-title p {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: black;
}

.singers {
    display: flex;
    flex-direction: column;
}

.singers-card {

    display: flex;
    align-items: center;
    padding: 20px;
}

.singers-card h2 {

    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;

}

.singers-card p {

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

}

.singers-card .rating {

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

    span {
        font-weight: 600;
    }

}

.box {
    background-color: #D0D0D0;
    padding: 60px;
    border-radius: 8px;
    margin-right: 15px;
}