.bola{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.o{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 19px;
}
.p{
    padding-left: 130px;
    padding-top: 20px;
}
.l{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.r{
    padding: 20px;
}