* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user__png {
    width: 95%;
    position: relative;
    top: 10px;
    left: 10px;
}

.line__png {
    width: 100%;
}

.paragraph {
    display: grid;
    gap: 5px;
    position: relative;
    left: 15px;
    top: 10px;
}

.paragraph__p {
    font-size: 25px;
    font-weight: 700;
    font-family: sans-serif;
}

.paragraph__p-two {
    font-family: sans-serif;
}

.png {
    height: 70px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    position: relative;
    top: 40px;
}

.search {
    width: 90%;
    position: relative;
    top: 70px;
    left: 20px;
}

.about {
    font-family: sans-serif;
    position: relative;
    top: 100px;
}

.about__p {
    width: 330px;
    line-height: 24px;
    font-size: 16px;
    position: relative;
    left: 20px;
    top: 10px;
}

.about__b {
    font-weight: 700;
    font-size: 20px;
    position: relative;
    left: 20px;
    /* top: -10px; */
}

.image {
    position: relative;
    top: 130px;
    left: 35px;
}

.image__img-two {
    position: relative;
    top: -80px;
    left: 30px;
}

.image__img {
    width: 90%;
    position: relative;
    left: -20px;
}