* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #333333;
    width: 100%;
    padding: 0 10px;
    padding-top: 8%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        font-size: 2.5rem;
        color: white;
    }
    img {
        object-fit: cover;
        border-radius: 50%;
    }
}

hr {
    margin: 20px 0;
    height: 0px;
    background-color: white;
}

.cal {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    div {
        width: 100%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        h1 {
            font-weight: 400;
        }       
    }
}

.cards {
    margin-top: 25px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    div {
        width: 100%;
        height: 70px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 40px 0;
        color: white;
        span {
            h3 {
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
}