*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
section{
    margin: 0 22px;
}
section > div:nth-child(1) h2{
    font-size: 15px;
    
}
section > div:nth-child(1) span{
    font-size: 15px;
}
section > div:nth-child(1) p{
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0 0 0;
}
section > div:nth-child(2){
    margin: 40px 0;
    border-top: 2px solid rgb(119, 118, 118);
    padding-top: 10px;
}
section > div:nth-child(2) h3{
    float: left;
    font-size: 24px;
}
section > div:nth-child(2) ul{
    float: right;
    list-style: none;
    font-size: 24px;
}