* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

.chat-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    max-width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.message p {
    margin: 0;
}

.timestamp {
    font-size: 0.8em;
    color: #666;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.received {
    background-color: #e0e0e0;
    align-self: flex-start;
}

.sent {
    background-color: #333;
    color: #fff;
    align-self: flex-end;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.input-container button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
#a1{
    margin-top: 200px;
    margin-left: 80px;
}
#a2{
    margin-left: 80px;
}