*{
    font-family: sans-serif;
    margin: 0;
}
body{
    background-color: black;
    color: aliceblue;

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;

        span{
            width: 300px;
        }

        img{
            width: 70px;
            margin-top: 100px;
        }
        
    }
    main{
        text-align: center;
        button{
            width: 380px;
            height: 35px;
            border-radius: 20px;
            background: #3A595D;
            color: aliceblue;
            margin-top: 300px;
        }
        p{
            margin-top: 25px;
        }
    }
}