.header__top{
    font-size: 20px;
}
.header__right{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #C4C4C4;
    margin-top: 20px;
}
.header__name{
    display: flex;
    justify-content: space-between;
}
.header__flex{
    width: 50px;
    height: 70px;
    border-radius: 10px;
    background-color: #C4C4C4;
    /* padding-left: 5px; */
    p{
        padding-left: 5px;
    }
}
.header__h4{
    font-size: 20px;
    transform: translatey(-20px);
    padding-left: 10px;
}
.header__toppot{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.main__Jogging{
    font-size: 25px;
    margin-left: 20px ;
}
.main__left{
    width: 340px;
    height: 150px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: #262626;
}
.main__img{
    display: flex;
    justify-content: space-around;
    transform: translatey(34px);
}
.main__h4{
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    transform: translatey(15px);
}
.main__paragrp{
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    transform: translatey(-15px);
    margin-left: 10px;
}
.main__h5{
    font-size: 25px;
    margin-left: 20px;
}
.main__two{
    width: 160px;
    height: 270px;
    border-radius: 15px;
    background-color: #C4C4C4;
}
.main__img--two{
    padding-top: 30px;
    padding-left: 40px;
    h5{
        font-size: 15px;
        transform: translatey(-20px);
    }
}
.main__let{
    width: 200px;
    height: 130px;
    border-radius: 15px;
    background-color: #C4C4C4;
    display: flex;
}
.main__box{
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
    p{
        transform: translatey(-20px);
    }
}
.main__three{
    transform: translatex(  30px);
    padding-top: 40px;
}
.main__leart{
    display: flex;
    justify-content: space-around;
}
.main__lord{
    display: block;
}
.main__lett{
    width: 200px;
    height: 130px;
    border-radius: 15px;
    background-color: #C4C4C4;
    display: flex;
    margin-top: 10px;
}
.main__plus{
    display: flex;
    justify-content: center;
}
.footer__img{
    width: 100%;
    height: 100px;
    border-radius: 20px;
    margin-top: -50px;
    background-color: #C4C4C4;
}
.footer__center{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}