body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.div {
    display: flex;
}
.div1 {
    padding: 3%;
}
.div2 {
    padding: 3%;
    margin-left: 65%;
}
.div3 {
    font-size: 30px;
    padding-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.div4 {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-left: 5%;
}
.div5 {
    margin-top: 3%;
}
.div6 {
    display: flex;
    padding-top: 10%;
}
.div7 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
}

.div8 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 26%;
}
.div9 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5%;
}
.div10 {
    width: 75px;
    height: 75px;
    border: 2px solid rgb(167, 167, 167);
    border-radius: 20px;
}
.div11 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
}
.div12 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 42%;
}
.div13 {
    width: 350px;
    height: 300px;
    margin-left: 5%;
    border-radius: 20px;
}
.div14 {
    display: flex;
    margin-top: -10%;
}
.div15 {
    width: 48px;
    height: 48px;
}
.div16 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;

}
.div17 {
    width : 30px;
    height: 30px;
    margin-left: 50%;
}
.div18 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
}
.div19 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}
.div20 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}
.div21 {
    display: flex;
}
.div22 {
    width: 40px;
    height: 40px;
    margin-top: 5%;
    border-radius: 50px;
}
.div23 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25%;
    padding-top: 5%;
}
.div24 {
    width: 350px;
    height: 200px;
    margin-left: 5%;
    border-radius: 20px;
}